h1
{
	color: red; 
	font-size: 40px;
}

#mycanvas1 {
border-width: 10px;
background-color: white;
border-style: ridge;
}
body{
	background-image: url("purple-valentine-day-heart-frame_156779-198.jpg");
}